.wrapper{
            width: 650px;
            margin: 0 auto;
        }
        .page-header h2{
            margin-top: 0;
        }
        table tr td:last-child a{
            margin-right: 15px;
        }
		
.wrapper1{
	width: 500px;
    margin: 0 auto;
	border: solid; 
	border-color: #007bff;
	padding-bottom: 10px;
}